<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "shivamzaz.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Shivam Gupta</h1>
		<p>Welcome to my blog app.</p>
		<p>This week I built a blog in Rails 4. You're actually on the demo application right now. Cool stuff, right!.</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me  on the web at <a href="http://shivamzaz.blogspot.com">shivamzaz(shivam gupta)</a>, and get my posts and exclusive content in your inbox by signing up .</p>
	</div>
</div>